@use 'vuetify';
@import 'flex-layout-attribute/css/flex-layout-attribute.min.css';
@import 'vue-toast-notification/dist/theme-default.css';
@import 'nprogress/nprogress.css';

* {
  margin: 0;
  border: 0;
  //border: red solid 1px;
}

a {
  text-decoration: none;
  color: rgba(var(--v-theme-primary), 0.8);

  &:hover {
    color: rgba(var(--v-theme-primary));
  }
}